.keywords-board {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	width: 100%;
	text-align: center;
}

.keywords-board div {
	background-color: darkcyan;
	border-radius: 5px;
	padding: 5px 0;
	height: 20px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
	.keywords-board {
		grid-template-columns: auto auto;
	}
}
