* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #282c34;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game h2 {
	margin-bottom: 20px;
}

.game button {
	width: 150px;
	height: 30px;
	background-color: darkcyan;
	margin: 20px 0;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.game button:hover {
	background-color: cyan;
	color: black;
	transition: all 0.2s ease-in-out;
}

.game .current-time {
	font-size: 20px;
}
