* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #282c34;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game h2 {
  margin-bottom: 20px;
}